/*
    Author: Sulaiman Hussain 1M
*/


* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
}

img {
    width: 150px;
    margin-left: 75px;
    margin-top: 35px;
}

body {
    background-image: url(./../media/images/background.jpg);
}

.login {
    width: 300px;
    height: 40vh;
    margin: auto;
    background-color: rgb(253, 254, 255);;
    transform: translateY(50%);
    border-radius: 7px;
}

.nickname-input {
    width: 200px;
    margin-left: 50px;
    margin-top: 25px;
    height: 30px;
    margin-bottom: 20px;;
}

.submit-button {
    width: 100px;
    height: 40px;
    margin-left: 85px;
}

.age-check {
    transform: scale(3) translate(24px, 1.5px);    
}

.eighteen-plus {
    margin-left: 65px;
}

.nickname-error {
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 5px;
}